
{% extends "master_layout.html" %}

    {% block body %}
    <h1 style="text-align: center;">Books</h1>
    <div class="container">
    <div class="row">
    <div class="col-12 col-md-10">     
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                <td>{{book.id}}</td><td>{{book.isbn}}</td><td>{{book.title}}</td><td>{{datetimeformat(book.created_at) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% endblock %}