<!doctype html>
<html>
   <head>
      <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/bootstrap.min.css') }}">
      <script  src= "{{url_for('static',filename='js/bootstrap.min.js') }}"></script>
      <script  src= "{{url_for('static',filename='js/jquery.min.js') }}"></script>
      <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/main.css') }}">
   </head>
   <body>      
      <div class="wrapper fadeInDown">
        {% block body %}
        {% endblock %}
   </body>
</html>