{% extends "master_layout.html" %}
  {% block body %}
    <div id="formContent">
      <div class="fadeIn first">
        <img src= "{{url_for('static',filename='img/logo.png') }}" style="background: #28a745;width: 100%;margin-bottom: 5%;" id="icon" alt="User Icon" />
      </div>  
      <!-- Login Form -->
      <form method="post" action="register">
          <div style="font-weight: bold;color:red;">{{session['message']}}</div>       
        <input type="text" id="login" class="fadeIn second" required=true name="username" placeholder="user name">
        <input type="password" id="password" class="fadeIn third" required=true name="password" placeholder="password">
        <div style="margin: 15px;">
          <input type="submit" class="fadeIn fourth login" style="width:40%; float:left;padding:15px;" value="Register"/>
          <input type="submit"  class="fadeIn fourth login" formaction="/auth" style="width:30%; float:right;color:white;" value="Login"/>
        </div>
      </form>  
    </div>
    {% endblock %}