{% extends "master_layout.html" %}
  {% block body %}
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src= "{{url_for('static',filename='img/logo.png') }}" style="background: #28a745;width: 100%;margin-bottom: 5%;" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <div style="margin:5%;">
              Welcome : {{username}}, You are successfully Logged In
          </div>
          <div><a href="logout">Logout</a></div>
      
          
      
        </div> 
  {% endblock %}